@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Sriracha', cursive;
}

body {
    background-color: grey
}

header {
    width: 15em;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
}

.current-weather {
    position: absolute;
    top: 0em;
    right: 2em;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}