@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Sriracha', cursive;
}

body {
    background-size: 120em;
    background-repeat: no-repeat;
}

input {
    border-radius: 10px;
    width: 25em;

}

div img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
}

header {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 15em;
    margin: 0;
    padding: 0;
}

#geolocation {
    position: absolute;
    top: .5em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
}

main {
    position: relative;
}

div.wrapper {
    width: auto;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .1em;
    flex-direction: column;
    margin-top: 5em;
    position: relative;
}

div:is(.weathercode, .hl-temperature, .m_current-temperature, .rain-chance, .visibility, .humidity) {
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.hl-temperature {
    position: absolute;
    top: 13em;
    left: 50%;
    transform: translateX(-50%);
}
div.srsn-sun {
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
}

div.m_current-temperature {
    font-size: 44px;
}

div.hl-temperature {
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    #geolocation {
        font-size: 20px;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.wrapper {
        background-color: grey;
        opacity: .7;
        color: white;
        border-radius: 10px;
        padding: 2px;
        position: absolute;
        top: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15em;
        height: auto;
    }

    div.wrapper > * {
        z-index: 3;
    }
}