@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Sriracha', cursive;
}

body {
    background-color: grey
}

main {
    position: relative;
}

.current-weather {
    position: absolute;
    top: 10%;
    right: 10%;
}