body {
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.wrapper div {
    width: 20%;
    height: 100%;
    position: relative;
}

.wrapper div p {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
}

p:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}