body {
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.wrapper div.div-main {
    width: 100%;
    height: 100%;
    position: relative;
}

.wrapper div {
    width: 20%;
    height: 100%;
    position: relative;
}

.wrapper div p {
    font-size: 22px;
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
}

p#text_copy1, p#text_copy2, p#text_copy3, p#text_copy4 {
    font-size: 15px;
    position: absolute;
    bottom: 0.4em;
}

p:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}