body {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.wrapper div {
    position: relative;
}

.wrapper div p {
    position: absolute;
    bottom: 1em;
    left: 50%;
}